<div class="container-aside">
    <div class="container-aside_tools">
        <ul class="link_ul">
            <li class="link link-user">
                <a href="">
                    <img src={{user}} alt="Inicio" class="icono">
                    <p>{{perfil.nombre + " " +perfil.apellido}}</p>
                </a>
            </li>
            <li class="link link-tool">
                <a [routerLink]="['/menuUsuario']" >
                    <img src="assets/images/home.png" alt="Inicio" class="icono">
                    <p>Inicio</p>
                </a>
            </li>
            <li class="link link-tool">
                <a [routerLink]="['/notificaciones']">
                    <img src="assets/images/campana.png" alt="Notificaciones" class="icono">
                    <p>Notificaciones</p>
                </a>
            </li>
            <li class="link link-tool">
                <a [routerLink]="['/foros']" >
                    <img src="assets/images/foro.png" alt="Foros" class="icono">
                    <p>Foros</p>
                </a>
            </li>
            <li class="link link-tool">
                <a [routerLink]="['/mensajes']">
                    <img src="assets/images/mensaje.png" alt="Mensajes" class="icono">
                    <p>Mensajes</p>
                </a>
            </li>
            <li class="link link-tool">
                <a [routerLink]="['/perfil']">
                    <img src="assets/images/user.png" alt="Cuenta" class="icono">
                    <p>Cuenta</p>
                </a>
            </li>
        </ul>
    </div>
</div>