<div class="container">
  <div class="titu">
    <h1>¿Los Hackers son buenos o malos?</h1>
    <p>Publicado por user en tecnología - hace 3 dias 1.2 k vistas</p>
  </div>
  <div class="persona">
    <img src="../../../assets/images/logoSkip.jpeg" alt="imagen" />
    <div class="nombreuser">
      <h2>Charlie</h2>
      <p>Charlie. Hace 3 dias</p>
    </div>
    <a class="btnSeguir" href="#">Seguir</a>
  </div>
  <div class="respuestas">
    <h1>Respuestas</h1>
    <div class="globres">
      <div class="Rpta">
        <img src="../../../assets/images/cliente.png" class="imgUs" alt="imgUsuario" />
        <div class="txresp">
          <div class="dia">
            <h3>Sophia</h3>
            <p>hace 2 dias</p>
          </div>
          <p class="resptxt">
            Linux es definitivamente la mejor opción para un servidor. Es más
            seguro, más rápido y más confiable que Windows Server. Además, hay
            muchas distribuciones de Linux gratuitas disponibles, lo que
            significa que no tienes que gastar dinero en licencias costosas. Mis
            distribuciones favoritas son Ubuntu y CentOS. ¡Espero que esto te
            ayude!
          </p>
        </div>
      </div>
      <div class="reaccion">
        <div class="laik">
          <img src="../../../assets/images/como.png" alt="laik" />
          <p>123</p>
        </div>
        <div class="nolaik">
          <img src="../../../assets/images/como.png" alt="dislaik" />
          <p>5</p>
        </div>
      </div>
    </div>
    <div class="globres">
      <div class="Rpta">
        <img src="../../../assets/images/cliente.png" class="imgUs" alt="imgUsuario" />
        <div class="txresp">
          <div class="dia">
            <h3>Moises</h3>
            <p>hace 2 dias</p>
          </div>
          <p class="resptxt">
            Linux es definitivamente la mejor opción para un servidor. Es más
            seguro, más rápido y más confiable que Windows Server. Además, hay
            muchas distribuciones de Linux gratuitas disponibles, lo que
            significa que no tienes que gastar dinero en licencias costosas. Mis
            distribuciones favoritas son Ubuntu y CentOS. ¡Espero que esto te
            ayude!
          </p>
        </div>
      </div>

      <div class="reaccion">
        <div class="laik">
          <img src="../../../assets/images/como.png" alt="laik" />
          <p>123</p>
        </div>
        <div class="../../../assets/images/nolaik">
          <img src="../../../assets/images/como.png" alt="dislaik" />
          <p>5</p>
        </div>
      </div>
    </div>
    <div class="globres">
      <div class="Rpta">
        <img src="../../../assets/images/cliente.png" class="imgUs" alt="imgUsuario" />
        <div class="txresp">
          <div class="dia">
            <h3>Marcos</h3>
            <p>hace 2 dias</p>
          </div>
          <p class="resptxt">
            Linux es definitivamente la mejor opción para un servidor. Es más
            seguro, más rápido y más confiable que Windows Server. Además, hay
            muchas distribuciones de Linux gratuitas disponibles, lo que
            significa que no tienes que gastar dinero en licencias costosas. Mis
            distribuciones favoritas son Ubuntu y CentOS. ¡Espero que esto te
            ayude!
          </p>
        </div>
      </div>
      <div class="reaccion">
        <div class="laik">
          <img src="../../../assets/images/como.png" alt="laik" />
          <p>123</p>
        </div>
        <div class="nolaik">
          <img src="../../../assets/images/como.png" alt="dislaik" />
          <p>5</p>
        </div>
      </div>
    </div>

    <div class="RptaUsua">
      <img src="../../../assets/images/logoSkip.jpeg" class="imgUs" alt="imgUsuario" />
      <div class="txrespusua">
        <input
          type="text"
          class="form-control"
          placeholder="Agregar comentario..."
        />
      </div>
    </div>
  </div>
</div>
