<app-header></app-header>
<div class="division">
  <app-aside></app-aside>
  <div class="container">
    <div class="pregunta">
      <h2>{{ discucion?.titulo }}</h2>
      <span>Publicado {{ discucion?.fechaCreacion }}</span>
    </div>
    <div class="usuario">
      <img src="./assets/images/imgUser.png">
      <div class="tem">
        <h3>{{ buscarPerfil(discucion?.obj_Usuario)?.nombre + " " + buscarPerfil(discucion?.obj_Usuario)?.apellido }}</h3>
        <span>{{ discucion?.obj_Usuario?.correo }}</span>
      </div>
    </div>
    <div class="respuestas">
      <div class="respuesta" *ngFor="let respuesta of respuestas">
        <p>{{ respuesta.contenido }}</p>
        <div class="usuario-respuesta">
          <img src="./assets/images/imgUser.png">
          <span>{{ buscarPerfil(respuesta.obj_Usuario)?.nombre }}</span>
        </div>
      </div>
      <div class="miRespuesta">
        <div>
          <form class="input-section" (ngSubmit)="enviarRespuesta(messageContent.value)">
            <input type="text" name="contenido" placeholder="Type your message" #messageContent>
            <button type="submit">Enviar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
