.container {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgba(15, 26, 36, 1);
  padding: 20px;
  /*las fuentes cambiar*/
}

.titu {
  background-color: rgba(15, 26, 36, 1);
  color: white;
  padding: 10px;
  margin: 20px 0px 40px 0px;
}

.persona {
  display: flex;
  flex-direction: row;
  background-color: rgba(20, 57, 90, 1);
  border-radius: 20px;
  align-items: center;
  justify-content: space-between;
  color: aliceblue;
}

.persona img {
  width: 100px;
  border-radius: 60px;
  margin: 10px;
  padding: 10px;
}

.persona a {
  background-color: rgba(73, 71, 210, 1);
  width: 80px;
  height: 25px;
  color: aliceblue;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  margin-left: auto;
  margin-right: 90px;
  text-decoration: none;
}

.globres {
  margin: 10px;
  padding: 10px;
}

.respuestas {
  background-color: rgba(20, 57, 90, 1);
  border-radius: 20px;
  padding: 10px;
  margin-top: 20px;
}

.respuestas h1 {
  margin-left: 20px;
  color: aliceblue;
}

.Rpta {
  margin: 10px;
  display: flex;
}

.reaccion {
  display: flex;
  gap: 25px;

  margin: 0px 10px 0px 8px;
  padding: 5px;
  color: white;
}

.laik {
  display: flex;

  align-items: center;
  gap: 2px;
  padding: 10px;
  height: 10px;
}

.nolaik {
  display: flex;

  align-items: center;
  gap: 2px;
  padding: 10px;
  height: 10px;
}

.nolaik img {
  width: 20px;
  height: 20px;
  transform: rotate(180deg);
}

.laik img {
  width: 20px;
  height: 20px;
}

.Rpta img {
  width: 80px;
  height: 80px;
}

.dia {
  display: flex;
  margin: 6px 0px 0px 0px;
  padding-left: 5px;
  width: 150px;
  height: 35px;
  font-size: 10pt;
  color: aliceblue;
  text-align: center;
  align-items: center;
  gap: 10px;
}

.txresp .resptxt {
  color: aliceblue;
  text-align: justify;
  margin: 0px 0px 0px 0px;
  padding: 0px 20px 20px 5px;
}

.RptaUsua {
  margin: 10px;
  display: flex;
  margin-left: 76px;
  padding: 20px;
}

.RptaUsua img {
  width: 80px;
  height: 80px;
  border-radius: 50px;
}

.txrespusua {
  margin: 10px;
  width: 90%;
  align-items: center;
}

.form-control {
  width: 100%;
  margin-top: 10px;
  background-color: #aab1b8;

  border: 2px solid #32363a;

  border-radius: 5px;

  padding: 10px;

  color: #000080;

  font-size: 1rem;

  transition: all 0.3s ease-in-out;
}

.form-control:focus {
  background-color: #e0ffff;

  border-color: #0056b3;

  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);

  color: #000000;
}
