<div class="container">
    <footer class="text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-3 text-left">
                    <h1>SKILL SWAP</h1>
                    <p>Categoria de habilidades</p>
                    <p>Metodología de acción</p>
                    <p>Recursos Necesarios</p>
                    <p>Call Center - Terminos y Condiciones</p>
                    <p>WhatsApp</p>
                </div>

                <div class="col-md-3 text-left">
                    <h2>Nosotros</h2>
                    <p>Misión y visión</p>
                    <p>Equipo de Desarrolladores</p>
                    <p>Foros y Más</p>
                    <p>Ayuda</p>
                </div>
                <div class="col-md-3 text-left">
                    <h2>Contáctanos</h2>
                    <p>Nuestra Plataforma Web</p>
                    <p>Consultas y Sugerencias</p>
                    <p>Zona de cobertura</p>

                    <h5>Central Telefónica</h5>
                    <p>(01) 614-6000</p>
                    <h5>Celular</h5>
                    <p>(+51) 963 852 741</p>
                </div>

                <div class="col-md-2">
                    <div class="col-md-12">
                        <h2 class="hsige">Síguenos:</h2>
                        <div class="row mt-4">
                            <img src="./assets/images/whatsAppc.png" alt="Logo 1" width="40" height="40"
                                class="mr-2" />
                            <img src="./assets/images/facebookc.png" alt="Logo 2" width="40" height="40"
                                class="mr-2" />
                            <img src="./assets/images/instagramc.png" alt="Logo 3" width="40" height="40"
                                class="mr-2" />
                        </div>
                    </div>
                </div>

                <div class="col-md-1 text-center">
                    <img class="imlogo" src="./assets/images/logoSkip.jpeg" alt="Logo 5" />
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-12">
                    <p class="lang">
                        Copyright © SKILL SWAP 2024 - Todos los derechos reservados.
                    </p>
                </div>
            </div>
        </div>
    </footer>
</div>