<div class="body">
    <div class="header">
        <div class="logo">
            <img src="/assets/images/logo.png" alt="SkillSwap Logo">
            <h1>SkillSwap</h1>
        </div>
        <nav>
            <a href="#">Inicio</a>
            <a href="#">Notificaciones</a>
            <a href="#">Foros</a>
            <a href="#">Mensajes</a>
            <a (click)="salir($event)" >Salir</a>
        </nav>
        <div class="icono-usuario">
            <img src="/assets/images/usuario.png" alt="User Icon" height="40">
        </div>
    </div>
</div>