<div class="container_principal">
    <label class="buscador">
        <span class="buscador_span">
            <img src="./assets/images/lupa.png" alt="Buscar">
        </span>
        <input type="text" placeholder="Buscar" [(ngModel)]="palabraClave" (input)="busqueda()">
    </label>
    <div class="selector">
        <select (change)="cambioCategoria($event)">
            <option  [value]="99999" >Todos</option>
            @for (item of categoria; track $index) {
                <option  [value]="item.categoriaHabilidadId" >{{item.nombre}}</option>
            }
        </select>
    </div>
    <div class="informacion">
            <div *ngIf="!filteredHabilidades || filteredHabilidades.length === 0;else userList " class="item">
                <h3>No Hay elementos</h3>
            </div>
            <ng-template #userList >
                @for (item of filteredHabilidades; track $index) {
            
                    <div class="item">
                        <img src="./assets/images/imgUser.png" alt="Buscar">
                        <h3>{{item.nombre}}</h3>
                        <h5>{{item.obj_Perfil.nombre + " " + item.obj_Perfil.apellido}}</h5>
                        <div class="item_btn">
                            <a href="#">Mensaje</a>
                            <a href="#">Añadir</a>
                        </div>
                    </div>
                }
            </ng-template>
            
        
    </div>
</div>
