<div class="container mt-5">
    <h2 class="mb-4">Listado de Amistades</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Amistad ID</th>
                <th>Fecha</th>
                <th>Amistad Aceptada</th>
                <th>Usuario Correo</th>
                <th>Usuario Correo</th>
            </tr>
        </thead>
        <tbody>
        @for (amistad of amistades; track $index) {
            <tr>
                <th>{{amistad.amistadID}}</th>
                <td>{{amistad.fechaAmistad}}</td>
                <td>{{amistad.amistadAceptada}}</td>
                <td>{{amistad.obj_Usuario.correo}}</td>
                <td>{{amistad.obj_Amigo.correo}}</td>
            </tr>
        }
        </tbody>
    </table>
</div>
