<app-header></app-header>
<div class="division">
  <app-aside></app-aside>
  <div class="container_principal">
    <div class="principal_banner">
      <div class="banner_datos">
        <img src="./assets/images/userphoto.png" alt="">
        <div class="datos_user">
          <h1>{{ (perfil.nombre + " " + perfil.apellido) || 'Nombre no especificado' }}</h1>
          <div class="datos_user-info">
            <p>{{ perfil.usuario.correo || 'Correo no especificado' }}</p>
            <p>{{perfil.fechaNacimiento || 'Sin Fecha De Nacimiento'}}</p>
          </div>
        </div>
      </div>
      <div class="banner_boton">
        <a routerLink="/editarUsuario" class="btn button_banner ">Editar</a>
      </div>
    </div>
    <hr>
    <div class="principal_info">
      <div class="info_text">
        <h1>Más de mí:</h1>
        <h4>{{(perfil.biografia)|| 'Sin Biografia'}}</h4>
      </div>
      <div class="info_categoria">
        <ng-container *ngIf="items && items.length > 0">
          <ng-container *ngFor="let item of items; let i = index">
            <a href="" class="btn btn-primary categoria_button ">{{ item }}</a>
          </ng-container>
        </ng-container>
        <div class="info_categoria-last-button">
          <a [routerLink]="['/editarUsuario']"  class="btn btn-primary categoria_button ">Editar</a>
        </div>
      </div>
    </div>
    <hr>
    <div class="principal_foros">
      <h1>Mis foros</h1>
      <div class="foros_contenido">
        <ng-container *ngIf="foros && foros.length > 0">
          <ng-container *ngFor="let item of foros; let i = index">
            <div class="foros_contenido-item">
              <div class="foro_info">
                <h3>{{ item }}</h3>
                <a href="#" class="btn btn-dark button_foro">Conectar</a>
              </div>
              <div class="foro_img">
                <img src="./assets/images/imgForo.png" alt="">
              </div>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</div>
