.container {
    max-width: 100%;
    min-height: 100%;
    height: 100vh;
    background-color: #0F1A24;
  }
  
  .card {
    max-width: 500px;
    margin: auto;
  }
  
  .card-header {
    padding: 1rem;
  }
  
  .card-body {
    padding: 1.5rem;
  }
  
  .form-group {
    margin-bottom: 1.5rem;
  }
  
  .btn {
    min-width: 100px;
  }
  